/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: disc;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css/reset/ 
*/
*{
  box-sizing:border-box;
 }
a {
  text-decoration:none;
}
body{
  font-family: Microsoft JhengHei;
}

#sol{
  margin:0 auto;/*置中*/
  width:100%;
  height: 40px;
  
}
#e1icon{
  float: right;
  margin: 0px 20px;
 
}
#container{
  margin:0 auto;
  width:900px;
  height: 360px;
  background-image: url(https://upload.cc/i1/2020/05/13/VMip1G.jpg);
  background-size: 900px;
}

.e4{
  width:900px;
  height: 50px;
  background-color: white;

}
#title{
  width:900px;
  height: 150px;
  float: left;
  padding: 20px 0px;
}
.e2left{
  width:450px;
  float: left;

}

.e3right{
  width:auto;
  float: right;
}
nav ul{
  margin: 0;
  list-style-type: none;
  display: inline-block;
}
.menu > li{
  float: left;
  width: 120px;
  position: relative;
}
.menu a{
  padding: 0px 10px;
  display: block;
  text-align: center;

}
.dropdown-open{
  z-index: 2;/*在backgroung-image前面*/
  position: absolute;
}
.border:hover{
  border-bottom:solid #00cc99 3px;

  
}
.content{
  margin:0 auto;
  width:900px;

}
#f1{
  width:33%;
  float: left;
}
#f2{
  float: left;
width:34%;
}
#f3{
  width:33%;
  float:right;
}
.line{
  height: 180px;
}
#f1 img,#f2 img,#f3 img{
  display:block;
  margin: 0 auto;
 } 

 #f1 ,#f2 ,#f3{
  display:block;
  margin: 0 auto;
  padding:0px 10px ;
 } 
 .clearFloat{
  clear:both;
}
#T2B{
  height:400px;
  background: -webkit-linear-gradient(#EE7700,#FFDDAA);
  background: -o-linear-gradient(#EE7700,#FFDDAA);
  background: -moz-linear-gradient(#EE7700,#FFDDAA);
  background: linear-gradient(#EE7700,#FFDDAA);
  }
.e6left{
    width:410px;
    height: 240px;
    margin: 0px 20px 20px 20px;
    float: left;
    background-color: #FFFFFF;
  }
#e7right{
  margin: 0px 20px 20px 20px;
    width:auto;
    text-align: left;
  }
.lame{
  width:410px;
  height:25px;
}
#input{
  width: 70px;
  height: 30px;
  background-color: #444444;
  border:0px;
  color: #FFFFFF; 
  margin-left: 340px;
}
#footer{
  margin:0 auto;
  width:900px;
  height: 300px;
}
table{
  line-height: 2.5;
}
/*.swiper-container {
  margin: 0px auto;
  width:900px;
  height: 360px;
  background-size: 900px;*/
  /*background-image: url(https://upload.cc/i1/2020/01/09/AOEmnV.jpg);
}
.swiper-slide{
  z-index: 1;/*在menu後面
  width:900px;
  height: 360px;
  background-size: 900px;
  background-image: url(https://upload.cc/i1/2020/05/12/1KhoRz.jpg);
  background-repeat:no-repeat;
}*/
.top{
  position: fixed;
  bottom: 0;
  right: 50px;
}